*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
bin/
develop-eggs/
eggs
include/
lib/
local/
src/
build/
dist/
parts/
.tox/
nosetests.xml
env*/
tmp/
var/
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
.installed.cfg
.mr.developer.cfg
